@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

:root {
  --colorPrimario: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --colorSecundario: rgb(59, 41, 6);
  --colorFondoBtn: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --colorDeLetra1: #9e0dbb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--colorPrimario);
  font-family: "Raleway", sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head {
  position: fixed;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  color: var(--colorDeLetra1);
  transition: 1s ease;
}

.logo a {
  color: var(--colorDeLetra1);
  font-size: 40px;
  text-decoration: none;
  margin-left: 10px;
}

.logo:hover {
  transition: 1s ease;
  transform: translateY(-5px);
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  list-style: none;
}

.navigation ul {
  position: relative;
  display: flex;
}

.navigation li ul {
  display: none;
}

.navigation a {
  display: inline-block;
  color: var(--colorDeLetra1);
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 10px;
  padding: 8px 18px;
  text-decoration: none;
  user-select: none;
  text-transform: capitalize;
}

.navigation a:hover {
  color: #121212;
  transition: 0.5s ease;
  box-shadow: 1px 1px 5px rgba(53, 51, 51, 0.432);
}

.content {
  position: relative;
  width: 50%;
  height: auto;
}

.content .textbox h2 {
  color: var(--colorDeLetra1);
  font-size: 3.5em;
  margin-bottom: 20px;
  line-height: 1.2em;
  font-weight: 700;
  text-transform: capitalize;
}

.content .textbox p {
  font-size: 1.2em;
  color: #000;
  font-weight: 700;
  margin: 10px 0px 10px 0;
}

.content a {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 15px;
  background: var(--colorDeLetra1);
  color: #fff;
  font-size: 1em;
  border-radius: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.5s ease;
}

.content a:hover {
  background: #c3cfe2;
  transition: 0.5s ease;
  color: #121212;
  transform: translateY(-5px);
}

form {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  border: 1px solid transparent;
  box-shadow: 1px 1px 5px #212121;
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 1fr;
}

input {
  margin: 20px;
  background-color: #121212;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  font-size: 1em;
  text-transform: capitalize;
  border: none;
  transition: 1s ease;
}

input:focus {
  transition: 1s ease;
  transform: translateY(-5px);
  background: #c3cfe2;
  color: #121212;
}

input:nth-of-type(3) {
  cursor: pointer;
  text-align: center;
  transition: 1s ease;
}

input:nth-of-type(3):hover {
  transition: 1s ease;
  transform: translateY(-5px);
  background: #c3cfe2;
  color: #121212;
}

.social {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  position: relative;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  font-size: 40px;
  transition: 1s ease;
}

.social li a:hover {
  transition: 1s ease;
  transform: translateY(-5px);
  box-shadow: 1px 1px 5px rgba(53, 51, 51, 0.432);
}
